@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap");

:root {
  --main-bg: #1e2021;
  --main-nav-bg: #232526;

  --text-main-color: #ffffff;
  --text-main-color2: #aeaeae;

  --border-black: #3e4345;
  --border-light-green: #4ffee3;
  --border-purple: #4f5ffe;
  --border-light-blue: #5bbdfc;
  --border-cyan: #477fe6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg);
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: rgb(11 17 32);
}

a {
  text-decoration: none;
  color: var(--text-main-color2);
}

label {
  display: block;
}

input {
  // -webkit-appearance: none;
  outline: none;
}

hr {
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid var(--border-black);
}

h1,
h2 {
  color: var(--text-main-color);
}

h3,
p,
footer {
  color: var(--text-main-color2);
}

footer {
  margin-top: 100px;
  padding: 12px;
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
}

header {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 1;

  background-color: var(--main-nav-bg);
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-grow: 1;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--text-main-color2);
    }
    .nav-links {
      display: flex;
      gap: 10px;
    }
  }
}

input:not(#base-field) {
  width: 100%;
}

.px-container,
.rem-container,
.em-container,
.percent-container {
  flex-grow: 1;
}

main {
  // display: flex;
  // justify-content: center;
  margin: 0 auto;
  .inner-main {
    #converter-container {
      margin-bottom: 40px;
      .title-page {
        h1 {
          text-align: center;
        }
      }
      .default-px {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 4px;
        input#base-field {
          height: 100%;
          width: 30px;
          padding: 0;
          border: none;
          border-radius: unset;
        }
      }
      .units-group {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .unit-group-wrapper {
          position: relative;
          span {
            font-style: italic;
            color: var(--text-main-color2);
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            &.input-unit-text {
              right: 0;
            }
            &.copy-icon {
              cursor: pointer;
              left: 0;
            }
          }
        }

        .px-container,
        .rem-container {
          margin-bottom: 15px;
        }
      }
      label {
        color: var(--text-main-color2);
      }

      input {
        border-radius: 16px;
        height: 40px;
        padding: 4px 50px;

        text-align: center;

        color: var(--text-main-color2);
        background-color: var(--main-bg);

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        &#base-field {
          border: 2px solid var(--border-black);
        }
        &#px-field {
          border: 2px solid var(--border-light-green);
        }
        &#rem-field {
          border: 2px solid var(--border-purple);
        }
        &#em-field {
          border: 2px solid var(--border-light-blue);
        }
        &#percent-field {
          border: 2px solid var(--border-cyan);
        }
      }
      .input-group-text {
        color: var(--text-main-color2);
      }
    }

    #preview-container {
      margin-bottom: 45px;
      .preview-unit {
        display: flex;
        justify-content: space-around;
        // max-width: 150px;
        > div {
          display: flex;
          flex-direction: column;
          max-width: calc(100% / 4 - 16px - 0.1px);
        }
        p:not(.dummy) {
          font-size: 1.4rem;
          font-weight: 600;
          text-align: center;
        }
        p {
          word-break: break-word;
          text-align: center;
        }

        .dummy-unit-px {
          color: var(--border-light-green);
        }

        .dummy-unit-rem {
          color: var(--border-purple);
        }
        .dummy-unit-em {
          color: var(--border-light-blue);
        }
      }
    }
    #faqs {
      margin-bottom: 40px;
      p {
        padding-top: 10px;
        margin-bottom: 20px;
      }
    }
    #contact-us {
      a {
        color: var(--border-purple);
      }
    }
  }
}

.img {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 300px;
  img {
    max-width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 639.98px) {
  .logo-img + span {
    display: none;
  }
  .inner-main #converter-container {
    margin-top: 80px;
  }

  header {
    padding-left: 12px;
    padding-right: 12px;
  }

  #faqs p {
    margin-bottom: 20px;
  }

  input {
    width: 100%;
  }

  main {
    max-width: 100%;
    margin-right: 12px;
    margin-left: 12px;
  }
  #converter-container {
    .units-group {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 640px) {
  main {
    max-width: 624px;
    .inner-main #converter-container {
      margin-top: 80px;
    }
  }
}
@media screen and (min-width: 768px) {
  main {
    max-width: 744px;
    .inner-main #converter-container {
      margin-top: 0;
    }
  }
}
@media screen and (min-width: 1024px) {
  main {
    max-width: 996px;
    .inner-main #converter-container .units-group {
      flex-wrap: nowrap;
    }
  }
  main .inner-main #converter-container input {
    height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  main {
    max-width: 1260px;
  }
}

@media screen and (min-width: 1440px) {
  main,
  nav {
    max-width: 1300px;
  }
  header {
    height: 60px;
  }
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 60px;
  overflow: hidden;
  > div {
    width: 100%;
  }
}

h1 {
  font-size: clamp(2.25rem, 1.05rem + 3vw, 3.75rem);
}
h2 {
  font-size: clamp(2.25rem, 1.65rem + 1.5vw, 3rem);
}

h3 {
  font-weight: 400;
  font-size: clamp(1.5rem, 1.2rem + 0.75vw, 1.875rem);
}

label,
span,
input,
p,
a {
  font-size: clamp(1rem, 0.6rem + 1vw, 1.5rem);
}
